# Data Science Tools and Ecosystem

### in this notebook, Data Science Tools and Ecosystem are summarized

**Objectives :**
- Popular Languages for data scientist
- Popular library for data scientist
- Arithmetic expression

##### Some of the popular languages that Data Scientists use are :
- Python
- R
- SQL
- Scala
- Java
- C/C++

##### Some of the popular libraries used by Data Scientists are :
* NumPy
* Pandas
* Matplotlib
* Seaborn

| Data Science Tools |
| -------------------|
| Jupyter Notebook |
| Pytorch |
| Anaconda |

### Below are evaluating arithmetic expression in python :

In [1]:
## This is the simple arithmetic expression to multiply then add integer
(3*4)+5

17

In [2]:
## Thi will convert 200 minutes to hour by diving by 60
200/60

3.3333333333333335

## **Author**
## San April